doctype html
html
    head
        title
        include ../../commons/views/rem.jade
        style.
            !{cssStr}
        script.
            var __data__ = {
                storeData: '!{storeStr}'
            }
    body
        div#container
            !=htmlStr